In [1]:
import pandas as pd
from geopy import distance

In [2]:
df = pd.read_pickle('data/pickled/airports.pkl')

In [3]:
df.head()

,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [4]:
coords_1 = (df.iloc[0].latitude, df.iloc[0].longitude)
coords_2 = (df.iloc[500].latitude, df.iloc[500].longitude)
km = distance.distance(coords_1, coords_2).km
km

14089.308634507111

In [5]:
kgs = km*0.227
round(kgs, 2)

3198.27

In [6]:
df.loc[df['name'].str.contains('JFK') | df['city'].str.contains('New York')]

,name,city,country,iata,icao,latitude,longitude,altitude,timezone,dst,tz,type,source
3496,La Guardia Airport,New York,United States,LGA,KLGA,40.777199,-73.872597,21,-5,A,America/New_York,airport,OurAirports
3596,John F Kennedy International Airport,New York,United States,JFK,KJFK,40.639801,-73.778900,13,-5,A,America/New_York,airport,OurAirports
5753,Indianola Municipal Airport,New York,United States,\N,KIDL,33.485699,-90.678902,126,-6,A,America/Chicago,airport,OurAirports
5942,One Police Plaza Heliport,New York,United States,\N,NK39,40.712601,-73.999603,244,-5,A,America/New_York,airport,OurAirports

In [7]:
len(df)

7543

In [8]:
mileage = pd.DataFrame(columns=['start', 'end', 'miles', 'carbon'])

In [11]:
mileage.append({'start': 'JFK', 'end': 'PEK', 'miles': 7000, 'carbon': 3500}, ignore_index=True)

  start  end miles
0   JFK  PEK  7000